<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center ;">Api Piece</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4153eaf9-97b2-4c99-be24-1129b1af0e7b/df4mgfb-476cf6ee-d982-47ae-a5bc-2d286089b532.png/v1/fill/w_1280,h_452,strp/one_piece_logo_png_by_foxboxnostalgic101_df4mgfb-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUyIiwicGF0aCI6IlwvZlwvNDE1M2VhZjktOTdiMi00Yzk5LWJlMjQtMTEyOWIxYWYwZTdiXC9kZjRtZ2ZiLTQ3NmNmNmVlLWQ5ODItNDdhZS1hNWJjLTJkMjg2MDg5YjUzMi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.J4Ax-YsBuXR2kokIxHv1mpdOHQoqa0moUDoAIr_UoeQ" alt="">
      <ion-card-header>
        <ion-card-title style="text-align:center ;">Bienvenido </ion-card-title>
      </ion-card-header>
    </ion-card>

    <h3 style="text-align:center;">Iniciar Sesión</h3>
  <form [formGroup]="formulario" (ngSubmit)="login()">
    <ion-item>
    <ion-label position="floating" style="text-align:center;">Usuario: </ion-label>
    <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>


    <ion-item>
    <ion-label position="floating" style="text-align:center;"> Contraseña: </ion-label>
    <ion-input type="password" formControlName="contraseña"></ion-input>
    </ion-item>

    <br>
    <ion-button fill="outline" color="tertiary" type="sumbit" expand="block">Inicar Sesión</ion-button>
    <ion-button fill="outline" color="warning" [routerLink]="['/register']" expand="block"> Registrarse</ion-button>
  </form>
  <br>


</ion-content>
